body {


#display {
width: 100%;
height: 50px;
font-size: 24px;
margin-bottom: 15px;
padding: 10px;
text-align: right;
border-radius: 10px;
border: none;
background: #fff;
}


.buttons {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
}


button {
padding: 15px;
font-size: 18px;
border: none;
border-radius: 12px;
cursor: pointer;
background: #f48fb1;
color: white;
transition: 0.2s;
}


button:hover {
background: #ec407a;
}


.zero {
grid-column: span 2;
}


.equals {
background: #ad1457;
}


.equals:hover {
background: #880e4f;
}
